<div class="row" *ngIf="shouldEnable">
  <div class="col-sm-4">
    <input type="text" 
      class="form-control"
      [(ngModel)]="searchParameter"
      placeholder="Enter Isbn of book you want to add">
  </div>
  <div class="col-sm-2">
    <button class="btn btn-primary" (click)="searchBook()">Search</button>
  </div>
  <span style="color:red" class="help-block" *ngIf="!validISBN">*ISBN entered doesn't match, kindly fill book details manually.</span>
</div>

<div class="container" style="margin-top: 20px">
  <ng-http-loader spinner="sk-wave"></ng-http-loader>
  <div class="row" *ngIf="fireBook?.Isbn != ''">
    <div class="col-md-2">
      <img [src]="fireBook.ImageUrl" alt="Book Image">
    </div>
    <div class="col-md-10">
      <form #f="ngForm">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="title">Title</label>
              <input 
                type="text" 
                id="title" 
                name="title" 
                class="form-control" 
                [(ngModel)]="fireBook.Title" 
                #title="ngModel"
                required>
            </div>
            <p class="help-block error-message"
              *ngIf="!title.valid && title.touched">Please enter Title</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="authors">Author(s)</label>
              <input 
                type="text" 
                id="authors" 
                name="authors" 
                class="form-control" 
                [(ngModel)]="fireBook.Authors"
                #authors="ngModel" 
                required>
            </div>
            <p class="help-block error-message" 
              *ngIf="!authors.valid && authors.touched">Please enter Author</p>            
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea 
                rows="5" 
                id="description" 
                name="description" 
                class="form-control" 
                [(ngModel)]="fireBook.Description"
                #description="ngModel"                  
                required>
              </textarea>
            </div>
            <p 
              class="help-block error-message"
              *ngIf="!description.valid && description.touched">
              Please enter Description
            </p>            
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="imageUrl">ImageUrl</label>
              <textarea 
                rows="5" 
                id="imageUrl" 
                name="imageUrl" 
                class="form-control" 
                [(ngModel)]="fireBook.ImageUrl"
                #imageUrl="ngModel"                 
                required>
              </textarea>
            </div>
            <p 
              class="help-block error-message"
              *ngIf="!imageUrl.valid && imageUrl.touched">
              Please enter imageUrl
            </p>
          </div>
          <!-- <div class="col-sm-2">
            <img [src]="book.ImageUrl" alt="Book Imgae">
          </div> -->
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="location">Location</label>
              <input 
                type="text" 
                id="location" 
                name="location"
                class="form-control" 
                [(ngModel)]="fireBook.Location"
                placeholder="Enter Location"
                #location="ngModel" 
                required>
            </div>
            <p 
              class="help-block error-message"
              *ngIf="!location.valid && location.touched">
              Please enter book location
            </p>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="category">Category</label>
              <select class="drop-down" class="form-control" name="category" [(ngModel)]="fireBook.Category" 
                #category="ngModel" 
                required>
                <option disabled>Select Category..</option>
                <option *ngFor="let category of categories" [value]="category.CategoryName">
                  {{category.CategoryName}}
                </option>
              </select>
            </div>
            <p 
              class="help-block error-message"
              *ngIf="!category.valid && description.touched">
              Please select category
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="quantity">Quantity</label>
              <input 
                type="number" 
                id="quantity" 
                name="quantity" 
                class="form-control" 
                [(ngModel)]="fireBook.Quantity" 
                #quantity="ngModel" 
                required>
            </div>
            <p 
              class="help-block error-message"
              *ngIf="!quantity.valid && quantity.touched">
              Please enter quantity
            </p>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                <label for="avgRating">Average Rating</label>
                <input 
                  type="number" 
                  class="form-control" 
                  name="avgRating" 
                  [(ngModel)]="fireBook.AvgRating">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <button 
              class="btn btn-lg btn-secondary" 
              type="cancel" 
              (click)="onCancel()">
                Back
            </button>
          </div>
          <div class="col-md-8"></div>
          <div class="col-md-2">
            <button
              class="btn btn-lg btn-primary" 
              type="submit" 
              (click)="onSubmit()"
              [disabled]="!f.valid">
                Submit
            </button>
          </div>
        </div>        
      </form>
    </div>
  </div>
</div>