<ng-http-loader spinner="sk-wave"></ng-http-loader>
<div class="container">
    <div class="row">
      <div class="col-md-3">
        <br>
        <img [src]="fireBook?.ImageUrl" alt="{{fireBook?.Title}}" class="img-responsive" style="max-height: 400px;">
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-8">
            <h2>{{fireBook?.Title}}</h2>
            <h4>{{fireBook?.Authors}}</h4>
          </div>
          <div class="col-md-4">
            <br>
            <star-rating 
              [value]="fireBook?.AvgRating!" 
              [totalstars]="5" 
              checkedcolor="red" 
              uncheckedcolor="black" 
              size="24px" 
              [readonly]="true">
            </star-rating>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" [innerHTML]="fireBook?.Description">
          </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <h4>Category: {{ fireBook?.Category }}</h4>
                <h4>Location : {{ fireBook?.Location }}</h4>
                <h4>Quantity : {{ fireBook?.Quantity }}</h4>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-3"></div>
        <div class="col-md-2">
          <button type="button" class="btn btn-lg btn-outline-secondary" (click)="onRedirect()">Back</button>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-4">
          <button type="button" *ngIf="fireBook?.Quantity!=0" class="btn btn-lg btn-primary" (click)="onIssueBook()">Issue</button>
          &nbsp;
          <button type="button" *ngIf="userRole !== 'User'" class="btn btn-lg btn-primary" (click)="onEdit()">Edit</button>
          &nbsp;
          <button class="btn btn-lg" style="background-color: green;color: white" 
            type="submit"
            *ngIf="userRole !== 'Admin'"
            (click)="triggerReview(reviewModal);viewRating=false;">Review</button>
            &nbsp;
          <button class="btn btn-lg btn-danger" 
            type="submit"
            *ngIf="userRole !== 'User'"
            (click)="onDelete()">Delete</button>
        </div>
    </div>
</div>

<!-- Show List of Rating for the  book -->
<div class="container-fluid" style="margin-top: 40px;" >
  <div class="row" *ngIf="userRatings.length>0 && fireBook?.Isbn !== ''">
    <br>
    <div *ngFor="let userRating of userRatings, let i = index">
      <div class="clearfix" *ngIf="i%4==0"></div>
      <div class="col-md-3 col-sm-3">
          <button class="list-group-item review-card" (click)="triggerReview(reviewModal);setShowRating(userRating)">
            <star-rating 
              [value]="userRating?.Rating!" 
              [totalstars]="5" 
              checkedcolor="red" 
              uncheckedcolor="black" 
              size="24px" 
              [readonly]="true">
            </star-rating>
            <label>{{userRating?.Name}}</label>
            <p style="color:dodgerblue">{{userRating?.SubmittedOn | date:'MMMM yyyy'}}</p>
            <p>{{userRating?.Title}}</p>           
          </button>
          <br>
      </div>
    </div>
  </div>
</div>

<ng-template #reviewModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Review Book</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <star-rating 
        [value]="userRating?.Rating!" 
        [totalstars]="5" 
        checkedcolor="red" 
        uncheckedcolor="black" 
        size="24px" 
        [readonly]="viewRating"
        (rate)="onRatingChange($event)">
    </star-rating>

    <input for="title" 
      class="form-control" maxlength="25" placeholder="Title" 
      [(ngModel)]="userRating.Title" [readOnly]="viewRating"/>
    <br>
    <textarea 
      name="review" 
      class="form-control" 
      id="review" 
      cols="4" 
      placeholder="Comments"
      [(ngModel)]="userRating.Review"
      [readOnly]="viewRating">
    </textarea>

    <div *ngIf="!viewRating" class="modal-footer">
      <button class="btn btn-primary btn-lg"
        (click)="modal.close('Save click')"
        style="float: right">Submit</button>
    </div>
  </div>
</ng-template>